/Library
/Temp
/*.csproj
/*.sln
/*.suo
/obj/Debug/*.cache
/PC Build/*.exe
/PC Build/LittleLeagueScene_01_Data/Managed/*.dll
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/1.0/*.aspx
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/1.0/*.config
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/2.0/Browsers/*.browser
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/2.0/*.aspx
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/2.0/*.config
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/2.0/*.map
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/*.ini
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/*
/PC Build/LittleLeagueScene_01_Data/Mono/etc/mono/mconfig/*.xml
/PC Build/LittleLeagueScene_01_Data/Mono/*.dll
/PC Build/LittleLeagueScene_01_Data/*
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/*.meta
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/*.plist
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/*.meta
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*.meta
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*.signature
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/Resources/*.meta
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/Resources/en.lproj/*.strings
/PC Build/LittleLeagueScene_01_Data/Plugins/OculusPlugin.bundle/Contents/Resources/en.lproj/*.meta
/PC Build/LittleLeagueScene_01_Data/Plugins/*.dll
/PC Build/LittleLeagueScene_01_Data/Resources/*
/PC Build/LittleLeagueScene_01_Data/*.txt
/PC Build/LittleLeagueScene_01_Data/*.assets
/PC Build/LittleLeagueScene_01_Data/*.resource
/PC Build/LittleLeagueScene_02_Data/Managed/*.dll
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/1.0/*.aspx
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/1.0/*.config
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/2.0/Browsers/*.browser
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/2.0/*.aspx
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/2.0/*.config
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/2.0/*.map
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/*.ini
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/*
/PC Build/LittleLeagueScene_02_Data/Mono/etc/mono/mconfig/*.xml
/PC Build/LittleLeagueScene_02_Data/Mono/*.dll
/PC Build/LittleLeagueScene_02_Data/*
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/*.meta
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/*.plist
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/*.meta
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*.meta
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*.signature
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/Resources/*.meta
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/Resources/en.lproj/*.strings
/PC Build/LittleLeagueScene_02_Data/Plugins/OculusPlugin.bundle/Contents/Resources/en.lproj/*.meta
/PC Build/LittleLeagueScene_02_Data/Plugins/*.dll
/PC Build/LittleLeagueScene_02_Data/Resources/*
/PC Build/LittleLeagueScene_02_Data/*.txt
/PC Build/LittleLeagueScene_02_Data/*.assets
/PC Build/LittleLeagueScene_02_Data/*.resource
/PC Build/LittleLeagueScene_03_Data/Managed/*.dll
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/1.0/*.aspx
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/1.0/*.config
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/2.0/Browsers/*.browser
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/2.0/*.aspx
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/2.0/*.config
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/2.0/*.map
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/*.ini
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/*
/PC Build/LittleLeagueScene_03_Data/Mono/etc/mono/mconfig/*.xml
/PC Build/LittleLeagueScene_03_Data/Mono/*.dll
/PC Build/LittleLeagueScene_03_Data/*
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/*.meta
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/*.plist
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/*.meta
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*.meta
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/MacOS/*.signature
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/Resources/*.meta
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/Resources/en.lproj/*.strings
/PC Build/LittleLeagueScene_03_Data/Plugins/OculusPlugin.bundle/Contents/Resources/en.lproj/*.meta
/PC Build/LittleLeagueScene_03_Data/Plugins/*.dll
/PC Build/LittleLeagueScene_03_Data/Resources/*
/PC Build/LittleLeagueScene_03_Data/*.txt
/PC Build/LittleLeagueScene_03_Data/*.assets
/PC Build/LittleLeagueScene_03_Data/*.resource
/*.userprefs
